$color-primary: white;
$color-secondary: black;
$color-border: white;
$color-light: #ffffff;
$color-dark: #181818;
$color-gray: #F3F3F3;
$color-gray-dark: #808080;
$color-test1: pink;
$color-test2: teal;